.faq {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vh;
    margin-bottom: 3vh;
}

.faq h3 {
    font-size: 32px;
}

.faq p {
    font-size: 18px;
    color: grey;
}